<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.appjam.comman">
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".ui.user.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key" />

        <activity android:name="org.appjam.comman.ui.quiz.QuizActivity" android:theme="@style/NoActionBar"/>
        <activity
            android:name=".ui.user.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/NoActionBar"/>
        <activity android:name=".ui.lecture.LectureListActivity" />
        <activity android:name=".ui.card.CardActivity" />

        <activity android:name=".ui.lectureSubsection.LectureSubActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name=".ui.main.MainActivity"
            android:theme="@style/NoActionBar"/>


        <activity android:name=".ui.lecture.LectureVideoActivity"/>

        <activity
            android:name="LectureVideo1Activity"/>


        <!-- 퀴즈 채점 결과 Activity -->
        <activity android:name=".ui.quiz.QuizResultActivity" />

        <!-- 퀴즈 해설 팝업 Activity -->
        <activity android:name=".ui.quiz.PopupExplainActivity"
            android:theme="@style/Theme.PopUp" />

        <!-- 강의 결제 팝업 Activity -->
        <activity android:name=".ui.lectureRegist.ChargePopupActivity" />




        <!-- 강의 설명 팝업 Activity -->
        <activity
            android:name=".ui.lectureSubsection.LectureSubPopupActivity"
            android:theme="@style/Theme.PopUp" >
        </activity>

        <service android:name=".ui.lecture.LectureVideoService" />

        <!--등록 팝업 Activity -->
        <activity
            android:name=".ui.lectureRegist.LectureRegistActivity"
            android:theme="@style/Theme.PopUp" />
    </application>
</manifest>